



Viewing 3/3
Show All
LOCAL
2/2


master


njc-1.0
REMOTE
1/1


origin
1/1


njc-1.0
PULL REQUESTS
0
TAGS
0/0
SUBMODULES
0
bgp-routing/juniper-bgp.cfg
Ignore white space
@@ -1,131 +0,0 @@
root@64660-PE2-MX> show configuration
## Last commit: 2016-08-07 13:08:26 UTC by root
version 14.1R1.10;
system {
    host-name 64660-PE2-MX;
    root-authentication {
        encrypted-password "$1$v7DavK6g$QxmhyfBdOuhP8Z9BKUrWB/"; ## SECRET-DATA
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            description to_64660-PE1-SR;
            family inet {
                address 10.6.60.2/30;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            description to_64770-PE1-SR;
            family inet {
                address 10.60.70.1/30;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            description to_64660-PE3-CRS;
            family inet {
                address 10.6.60.9/30;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 172.46.60.2/32;
            }
        }
    }
}
routing-options {
    router-id 172.46.60.2;
    autonomous-system 64660;
}
protocols {
    bgp {
        family inet {
            unicast;
        }
        group iBGP-64660 {
            type internal;
            local-address 172.46.60.2;
            export [ nhs-for-64770 export-loopback ];
            neighbor 172.46.60.1;
            neighbor 172.46.60.3;
