



Viewing 3/3
Show All
LOCAL
2/2


master


njc-1.0
REMOTE
1/1


origin
1/1


njc-1.0
PULL REQUESTS
0
TAGS
0/0
SUBMODULES
0
isis-routing/nokia-isis-l1-l2.cfg
Ignore white space
@@ -1,53 +0,0 @@
A:LAB-P1-SR# configure router
A:LAB-P1-SR>config>router# info
----------------------------------------------
#--------------------------------------------------
echo "IP Configuration"
#--------------------------------------------------
        interface "system"
            address 192.168.20.1/32
            no shutdown
        exit
        interface "to_LAB-P2-MX"
            address 192.168.10.10/30
            port 1/1/1
            no shutdown
        exit
        interface "to_LAB-P3-CRS"
            address 192.168.10.6/30
            port 1/1/3
            no shutdown
        exit
        interface "to_LAB-PE6-CRS"
            address 192.168.10.13/30
            port 1/1/2
            no shutdown
        exit
        router-id 192.168.20.1
#--------------------------------------------------
echo "ISIS Configuration"
#--------------------------------------------------
        isis
            area-id 49.0002
            interface "system"
                no shutdown
            exit
            interface "to_LAB-P2-MX"
                level-capability level-2
                interface-type point-to-point
                no shutdown
            exit
            interface "to_LAB-P3-CRS"
                level-capability level-2
                interface-type point-to-point
                no shutdown
            exit
            interface "to_LAB-PE6-CRS"
                level-capability level-1
                interface-type point-to-point
                no shutdown
            exit
            no shutdown
        exit
----------------------------------------------
A:LAB-P1-SR>config>router# 
